<div id="primary-header" class="mat-h1">
  <span [appLocalize]="page.pageName"></span>
</div>
<div id="content" fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-md="80%">
    <mat-card fxLayout="column" fxLayoutGap="10px">
      <div *ngIf="isAdmin; then adminView else userView"></div>
      <ng-template #adminView>
        <div *ngIf="isEdit; then editor else viewer"></div>
        <ng-template #editor>
          <div fxFlexAlign="end">
            <button (click)="saveChanges()" mat-fab color="primary" [appLocalize]="'Save'"></button>
            <button (click)="cancelEdit()" mat-fab color="warn" [appLocalize]="'Cancel'"></button>
          </div>
          <div [froalaEditor]="options" [(froalaModel)]="editableText"></div>
        </ng-template>
        <ng-template #viewer>
          <div fxFlexAlign="end">
            <button (click)="onEdit()" mat-fab color="primary" [appLocalize]="'Edit'"></button>
          </div>
          <div [froalaView]="content.text"></div>
        </ng-template>
      </ng-template>
      <ng-template #userView>
        <div [froalaView]="content.text"></div>
      </ng-template>
    </mat-card>
  </div>
</div>