<div id="primary-header" class="mat-h1">{{getLocalizedString(page.pageName) | async}}</div>
<div id="content" fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-md="80%">
    <mat-card fxLayout="column" fxLayoutGap="10px">
      <div *ngIf="isEdit; then editor else view"></div>
      <ng-template #editor>
        <div fxFlexAlign="end">
            <button (click)="editToogle()" mat-fab color="primary">{{getLocalizedString('Save') | async}}</button>
            <button (click)="editToogle()" mat-fab color="warn">{{getLocalizedString('Cancel') | async}}</button>
        </div>
        <div [froalaEditor]="options" [(froalaModel)]="content.body"></div>
      </ng-template>
      <ng-template #view>
        <div fxFlexAlign="end">
            <button (click)="editToogle()" mat-fab color="primary">{{getLocalizedString('Edit') | async}}</button>
        </div>
        <div [froalaView]="content.body"></div>
      </ng-template>
    </mat-card>
  </div>
</div>