<div id="primary-header" class="mat-h1">{{getLocalizedString('Login')}}</div>
<div id="content" fxLayout fxLayoutAlign="center">
  <div fxFlex.gt-sm="50%">
    <mat-card fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="stretch">
        <mat-form-field>
          <input matInput placeholder="{{getLocalizedString('Enter your email')}}" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getLocalizedString(getEmailErrorMessage())}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="{{getLocalizedString('Enter your password')}}" [formControl]="password"
            [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="password.invalid">{{getLocalizedString(getPasswordErrorMessage())}}</mat-error>
        </mat-form-field>
    </mat-card>
  </div>
</div>