<mat-toolbar color="primary" class="mat-elevation-z6">

    <a *ngIf="!!settings.logo" class="logo" routerLink="/">
        <div [style.background-image]="'url(' + settings.logo + ')'"></div>
    </a>
    <a mat-button routerLink="/" [appLocalize]="settings.companyName" class="nav-title"></a>

    <!-- This fills the remaining space of the current row -->
    <!-- <span class="fill-remaining-space"></span> -->
    <div fxLayout="row" fxShow="false" fxShow.gt-sm class="fill-remaining-space">
        <button mat-button *ngFor="let page of Pages" routerLink="{{page.url}}">
            <span [appLocalize]="page.name"></span>
            <mat-icon *ngIf="!page.active" matTooltip="{{inactiveTooltipMessage}}">info</mat-icon>
        </button>
        <div fxLayout="column" fxFlex.gt-sm="100%">
            <div fxFlexAlign="end">
                <button *ngIf="showSettings()" mat-button routerLink="settings">
                    <mat-icon>settings</mat-icon>
                    <span [appLocalize]="'Settings'"></span>
                </button>
                <div *ngIf="user.email; then profile else login"></div>
                <ng-template #profile>
                    <button mat-button [mat-menu-trigger-for]="userMenu">
                        <mat-icon>person</mat-icon>
                        {{user.username}}
                        <mat-icon>expand_more</mat-icon>
                    </button>
                </ng-template>
                <ng-template #login>
                    <button mat-button routerLink="login">
                        <mat-icon>input</mat-icon>
                        <span [appLocalize]="'Login'"></span>
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
    <div fxLayout="row-reverse" fxHide="false" fxHide.gt-sm class="fill-remaining-space">
        <button mat-button [mat-menu-trigger-for]="menu">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

</mat-toolbar>
<mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let page of Pages" routerLink="{{page.url}}">
        <span [appLocalize]="page.name"></span>
        <mat-icon *ngIf="!page.active" matTooltip="{{inactiveTooltipMessage}}" class="my-tooltip-parent">
            info
        </mat-icon>
    </button>
    <button *ngIf="showSettings()" mat-button routerLink="settings">
        <span [appLocalize]="'Settings'"></span>
    </button>
    <div *ngIf="user.email; then profileMenu else loginMenu"></div>
    <ng-template #profileMenu>
        <button mat-menu-item [mat-menu-trigger-for]="userMenu">
            {{user.username}}
        </button>
    </ng-template>
    <ng-template #loginMenu>
        <button mat-menu-item routerLink="login">
            <span [appLocalize]="'Login'"></span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #userMenu="matMenu">
    <button *ngIf="isAdmin" mat-menu-item routerLink="admin/configuration">
        <span [appLocalize]="'Admin Panel'"></span>
    </button>
    <button mat-menu-item (click)="logout()">
        <span [appLocalize]="'Logout'"></span>
    </button>
</mat-menu>